<!DOCTYPE html>
<html>

<head>
    <title>Restaurant Menu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <style>
        .kgreen {
            background-color: #48c794 !important;
        }
    </style>
</head>

<body>


    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-size-3" href="#">
                <strong>Pizzaria do Gordola</strong>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true">
                </span>
                <span aria-hidden="true">
                </span>
                <span aria-hidden="true">
                </span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu ">
            <div class="navbar-start">
                <a class="navbar-item ml-3 is-size-4">
                    Whatsapp
                </a>
                <a class="navbar-item ml-3 is-size-4">
                    Perfil
                </a>
                <div class="navbar-item ml-3 is-size-4 has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Categorias
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item ml-3 is-size-4">
                            Pizzas
                        </a>
                        <a class="navbar-item ml-3 is-size-4">
                            Bebidas
                        </a>
                        <a class="navbar-item ml-3 is-size-4">
                            Esfirras
                        </a>
                        <a class="navbar-item ml-3 is-size-4">
                            Sobremessas
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item is-size-4">
                    <div class="buttons">
                        <span>Carrinho</span>
                        <span class="icon ml-2 is-size-4">
                            <i class="material-icons">shopping_cart</i>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="section is-flex-touch">

        <div class="column box has-background-white">
            <article class="media">
                <div class="media-left">
                    <figure class="image">
                        <img src="https://qlickmenu.s3-us-west-1.amazonaws.com/companies/products/93cde489-c265-43bd-b5cc-88ceb00eec51.jpg"
                            alt="Image" />
                    </figure>
                </div>
                <div class="media-content has-text-grey-dark">
                    <div class="content">

                        <strong class="is-size-2 has-text-grey-dark">
                            Hibiscus Ficus
                        </strong>
                        <br />
                        <p class="is-size-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                            fringilla egestas.
                        </p>
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            <p class="level-item is-size-3 has-text-primary has-text-weight-bold">
                                699$
                            </p>
                        </div>
                        <div class="">
                            <p class="level-item">
                                <button class="is-size-3 button is-primary ">
                                    +
                                </button>
                            </p>
                        </div>
                    </nav>
                </div>
            </article>
        </div>


    </section>
</body>

</html>