{% extends "base.html" %}
{% block title %}Kitanda{% endblock %}
{% block content %}
{% load static %}
<base href="/" />
<div class="modal-full animated fadeIn" id="modalCarrinho">

    <div class="m-header">
        <div class="container">
            <a class="btn btn-white btn-sm float-right" href="loja/{{name}}">
                Fechar
            </a>
            <div class="etapas">
                <div class="etapa etapa1"><a href="/cart/{{name}}">1</a></div>
                <div class="etapa etapa2 active"><a href="/address/{{name}}">2</a></div>
                <div class="etapa etapa2"><a href="/review/{{name}}">3</a></div>
            </div>
            <p class="title-carrinho mt-4">
                <b id="lblTituloEtapa">Endereço de entrega:</b>
            </p>
        </div>
    </div>
    <form method="post" action="/address/{{name}}/">
        <div class="m-body">
            <div class="container">
                <div class="row mr-0 ml-0 animated fadeIn"></div>

                <!-- TODO CEP
                <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group container-cep">
                        <label>CEP:</label>
                        <input id="txtCEP" type="text" class="form-control">
                        <a class="btn btn-yellow btn-sm" onclick="cardapio.metodos.buscarCep()">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div> -->

                {% csrf_token %}
                <div class="w-100">
                    <div class="form-group">
                        <label>Bairro:</label>
                        <input required id="txtBairro" name="bairro" placeholder="Bairro XXXXX..." type="text"
                            class="form-control">
                    </div>
                </div>

                <div class="w-100">
                    <div class="form-group">
                        <label>Rua:</label>
                        <input required id="txtEndereco" name="rua" placeholder="Rua XXXXX..." type="text"
                            class="form-control">
                    </div>
                </div>

                <div class="w-100">
                    <div class="form-group">
                        <label>Número:</label>
                        <input required id="txtNumero" name="numero" placeholder="000" type="number"
                            class="form-control">
                    </div>
                </div>

                <div class="w-100">
                    <div class="form-group">
                        <label>Complemento:</label>
                        <input required id="txtComplemento" name="complemento" placeholder="Digite o complemento..."
                            type="text" class="form-control">
                    </div>
                </div>

                <div class="w-100">
                    <div class="form-group">
                        <label>Nome:</label>
                        <input required id="txtComplemento" name="nome" placeholder="Digite seu nome..." type="text"
                            class="form-control">
                    </div>
                </div>


            </div>
        </div>
        <div class="m-footer">
            <div class="container">
                <div class="container-total text-right mb-4">
                    <p class="mb-0">
                        <span>Subtotal:</span>
                        <span id="lblSubTotal">R$ {{sub_total}}</span>
                    </p>
                    <p class="mb-0 texto-entrega">
                        <span><i class="fas fa-motorcycle"></i> Entrega:</span>
                        <span id="lblValorEntrega">+ R$ {{delivery_fee}}</span>
                    </p>
                    <p class="mb-0 texto-total">
                        <span><b>Total:</b></span>
                        <span class="valor-total"><b id="lblValorTotal">R$ {{total}}</b></span>
                    </p>
                </div>
                <a href="cart/{{name}}" class="btn btn-white mr-3" id="btnVoltar">
                    Voltar
                </a>
                <button type="submit" class="btn btn-yellow float-right"><a></a>Continuar</a></button>


            </div>
        </div>
    </form>
</div>
{% endblock %}