{% extends "base.html" %}
{% block title %}Kitanda{% endblock %}
{% block content %}
{% load static %}
<base href="/" />
<div class="modal-full animated fadeIn" id="modalCarrinho">

    <div class="m-header">
        <div class="container">
            <a class="btn btn-white btn-sm float-right" href="loja/{{name}}">
                Fechar
            </a>
            <div class="etapas">
                <div class="etapa etapa1">1</div>
                <div class="etapa etapa2 active">2</div>
            </div>
            <p class="title-carrinho mt-4">
                <b id="lblTituloEtapa">Endereço de entrega:</b>
            </p>
        </div>
    </div>
    <div class="m-body">
        <div class="container">

            <div id="localEntrega" class="row mr-0 ml-0 animated fadeIn">
                <!-- TODO CEP
                <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group container-cep">
                        <label>CEP:</label>
                        <input id="txtCEP" type="text" class="form-control">
                        <a class="btn btn-yellow btn-sm" onclick="cardapio.metodos.buscarCep()">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div> -->
                <div class="w-100">
                    <div class="form-group">
                        <label>Bairro:</label>
                        <input id="txtBairro" type="text" class="form-control">
                    </div>
                </div>

                <div class="w-100">
                    <div class="form-group">
                        <label>Rua:</label>
                        <input id="txtEndereco" type="text" class="form-control">
                    </div>
                </div>
                <div class="w-100">
                    <div class="form-group">
                        <label>Número:</label>
                        <input id="txtNumero" type="text" class="form-control">
                    </div>
                </div>
                <div class="w-100">
                    <div class="form-group">
                        <label>Complemento:</label>
                        <input id="txtComplemento" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-footer">
        <div class="container">
            <div class="container-total text-right mb-4">
                <p class="mb-0">
                    <span>Subtotal:</span>
                    <span id="lblSubTotal">R$ {{sub_total}}</span>
                </p>
                <p class="mb-0 texto-entrega">
                    <span><i class="fas fa-motorcycle"></i> Entrega:</span>
                    <span id="lblValorEntrega">+ R$ {{entrega}}</span>
                </p>
                <p class="mb-0 texto-total">
                    <span><b>Total:</b></span>
                    <span class="valor-total"><b id="lblValorTotal">R$ {{total}}</b></span>
                </p>
            </div>
            <a href="cart/{{name}}" class="btn btn-white mr-3" id="btnVoltar">
                Voltar
            </a>
            <a onclick="cardapio.metodos.carregarEndereco()" class="btn btn-yellow float-right" id="btnEtapaPedido">
                Continuar
            </a>
        </div>
    </div>
</div>
{% endblock %}