{% extends "base.html" %}
{% block title %}Kitanda{% endblock %}

{% block content %}
{% load static %}
<base href="/" />
<div class="modal-full animated fadeIn" id="modalCarrinho">

    <div class="m-header">
        <div class="container">
            <a class="btn btn-white btn-sm float-right" href="loja/{{name}}">
                Fechar
            </a>
            <div class="etapas">
                <div class="etapa etapa1 active">1</div>
                <div class="etapa etapa2">2</div>
            </div>
            <p class="title-carrinho mt-4">
                <b id="lblTituloEtapa">Seu carrinho:</b>
            </p>
        </div>
    </div>

    <div class="m-body">
        <div class="container">

            <div id="itensCarrinho" class="row mr-0 ml-0 animated fadeIn">
                <p class="carrinho-vazio"><i class="fa fa-shopping-bag"></i>Seu carrinho está vazio.</p>
            </div>


            <div id="resumoCarrinho" class="row mr-0 ml-0 animated fadeIn hidden">
                <div class="col-12">
                    <p class="title-carrinho mt-4">
                        <b>Itens do pedido:</b>
                    </p>
                </div>

                <div class="col-12">
                    <div class="row" id="listaItensResumo">

                    </div>
                </div>

                <div class="col-12">
                    <p class="title-carrinho mt-4">
                        <b>Local da entrega:</b>
                    </p>
                </div>

                <div class="col-12 item-carrinho resumo">
                    <div class="img-map">
                        <i class="fas fa-map-marked-alt"></i>
                    </div>
                    <div class="dados-produto">
                        <p class="texto-endereco">
                            <b id="resumoEndereco"></b>
                        </p>
                        <p class="cidade-endereco" id="cidadeEndereco"></p>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="m-footer">
        <div class="container">
            <div class="container-total text-right mb-4">
                <p class="mb-0">
                    <span>Subtotal:</span>
                    <span id="lblSubTotal">R$ {{sub_total}}</span>
                </p>
                <p class="mb-0 texto-entrega">
                    <span><i class="fas fa-motorcycle"></i> Entrega:</span>
                    <span id="lblValorEntrega">+ R$ {{entrega}}</span>
                </p>
                <p class="mb-0 texto-total">
                    <span><b>Total:</b></span>
                    <span class="valor-total"><b id="lblValorTotal">R$ {{total}}</b></span>
                </p>
            </div>

            <a href="adress/{{name}}" class="btn btn-yellow float-right" id="btnEtapaPedido">
                Continuar
            </a>

        </div>
    </div>


</div>
{% endblock %}