{% extends "base.html" %}
{% block title %}Kitanda{% endblock %}

{% block content %}
{% load static %}
<base href="/" />
<div class="modal-full animated fadeIn" id="modalCarrinho">

    <div class="m-header">
        <div class="container">
            <a class="btn btn-white btn-sm float-right" href="loja/{{name}}">
                Fechar
            </a>
            <div class="etapas">
                <div class="etapa etapa1 active"><a href="/cart/{{name}}">1</a></div>
                <div class="etapa etapa2"><a href="/address/{{name}}">2</a></div>
                <div class="etapa etapa2"><a href="/review/{{name}}">3</a></div>
            </div>
            <p class="title-carrinho mt-4">
                <b id="lblTituloEtapa">Seu carrinho:</b>
            </p>
        </div>
    </div>

    <div class="m-body">
        <div class="container">

            {% if not cart %}
            <div id="itensCarrinho" class="row mr-0 ml-0 animated fadeIn">
                <p class="carrinho-vazio"><i class="fa fa-shopping-bag"></i>Seu carrinho está vazio.</p>
            </div>
            {% else %}
            <div id="itensCarrinho" class="row mr-0 ml-0 animated fadeIn">
                {% for product in cart %}
                <div class="col-12 item-carrinho m-auto animated fadeInUp">
                    <div class="img-produto">
                        <img src="{{ product.product_image }}">
                    </div>
                    <div class="dados-produto">
                        <p class="price-produto">
                            <b>{{ product.product_name }}</b>
                        </p>
                        <p class="title-produto">
                            <b>R$ {{ product.product_price }}</b>
                        </p>
                    </div>
                    <div class="add-carrinho">

                        <a href="/cart/farmácia-do-zé/?minus={{ product.product_id }}" class="btn-menos">
                            <i class="fas fa-minus"></i>
                        </a>
                        <span class="add-numero-itens">{{ product.quantity }}</span>
                        <a href="/cart/farmácia-do-zé/?add={{ product.product_id }}" class="btn-mais">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a href="/cart/farmácia-do-zé/?remove={{ product.product_id }}"
                            class="btn btn-remove no-mobile">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% endif %}


        </div>
    </div>

    <div class="m-footer">
        <div class="container">
            <div class="container-total text-right mb-4">
                <p class="mb-0">
                    <span>Subtotal:</span>
                    <span id="lblSubTotal">R$ {{sub_total}}</span>
                </p>
                <p class="mb-0 texto-entrega">
                    <span><i class="fas fa-motorcycle"></i> Entrega:</span>
                    <span id="lblValorEntrega">+ R$ {{delivery_fee}}</span>
                </p>
                <p class="mb-0 texto-total">
                    <span><b>Total:</b></span>
                    <span class="valor-total"><b id="lblValorTotal">R$ {{total}}</b></span>
                </p>
            </div>

            <a href="address/{{name}}" class="btn btn-yellow float-right" id="btnEtapaPedido">
                Continuar
            </a>

        </div>
    </div>


</div>
{% endblock %}