{% extends "base.html" %}
{% block title %}Kitanda{% endblock %}

{% block content %}
{% load static %}
<style>
  .bg-custom {
    background-image: url("{% static '/img/logo.svg' %}");
    background-size: cover;
  }
</style>

<body class="bg-custom">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem">
            {% if error %}
            <p class="alert-danger m-auto center">! {{error}} !</p>
            {% endif %}
            <form method="post" class="card-body p-5 text-center">
              {% csrf_token %}


              <hr class="my-4" />
              <div class="form-outline mb-4">
                <input type="text" id="{{ register_form.username.id_for_label }}"
                  name="{{ register_form.username.name }}" placeholder="username" id="typeEmailX-2"
                  class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="{{ register_form.password1.id_for_label }}"
                  name="{{ register_form.password1.name }}" placeholder="............" id="typePasswordX-2"
                  class="form-control form-control-lg" />
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="{{ register_form.password2.id_for_label }}"
                  name="{{ register_form.password2.name }}" placeholder="............" id="typePasswordX-2"
                  class="form-control form-control-lg" />
              </div>

              <button class="btn btn-yellow mt-4 btn-primary btn-block" style="background-color: #2bbbad" type="submit">
                Entrar
              </button>

              <hr class="my-4" />
              <a style="color: #2bbbad" href="/login">Já tem conta? :)</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock %}