<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/your-fontawesome-kit.js"></script>

    <title>Kitanda Shop</title>
    <style>
      .kgreen {
        color: #48c794;
      }
    </style>
  </head>

  <body>
    <ul>
      <li><a href="#/">Home</a></li>
      <li><a href="#/loja/sdsd">Loja</a></li>
      <li><a href="#/buscar-loja">Comprar</a></li>
    </ul>

    <div id="root">
      <ul>
        <li><a href="#/">Home</a></li>
        <li><a href="#/loja/sdsd">Loja</a></li>
        <li><a href="#/buscar-loja">Comprar</a></li>
      </ul>
      <div>
        <div class="section no-pad-bot" id="index-banner">
          <div class="container">
            <br /><br />
            <h1 class="title is-1 has-text-centered has-text-success">
              Comece já!
            </h1>
            <div class="columns is-centered">
              <div class="column is-half">
                <h5 class="subtitle is-5 has-text-centered">
                  Pedidos de forma simples, rápida e prática!
                </h5>
              </div>
            </div>
            <div class="columns is-centered">
              <div class="column">
                <div class="buttons is-centered">
                  <a href="#/buscar-loja" class="button is-success is-large"
                    >Comprar</a
                  ><a href="#/cadastrar-loja" class="button is-success is-large"
                    >Vender</a
                  >
                </div>
              </div>
            </div>
            <br /><br />
          </div>
        </div>
        <div class="main container">
          <div class="section">
            <div class="columns is-centered">
              <div class="column is-one-third">
                <div class="box has-text-centered">
                  <h2 class="center kgreen">
                    <i class="material-icons">flash_on</i>
                  </h2>
                  <h3 class="title is-3 has-text-success">
                    Agilize seu negócio
                  </h3>
                  <p>
                    Descubra como nossa plataforma de pedidos pode simplificar e
                    acelerar o processo de venda e gerência de pedidos para sua
                    loja, seja você um supermercado, restaurante, farmácia ou
                    qualquer outro tipo de negócio...
                  </p>
                </div>
              </div>
              <div class="column is-one-third">
                <div class="box has-text-centered">
                  <h2 class="center kgreen">
                    <i class="material-icons">group</i>
                  </h2>
                  <h3 class="title is-3 has-text-success">Foco em UX</h3>
                  <p>
                    Estamos empenhados em oferecer a melhor experiência possível
                    para os usuários. Nossa interface é intuitiva e fácil de
                    usar para clientes e lojas, tornando o processo de pedidos
                    rápido e conveniente.
                  </p>
                </div>
              </div>
              <div class="column is-one-third">
                <div class="box has-text-centered">
                  <h2 class="center kgreen">
                    <i class="material-icons">paid</i>
                  </h2>
                  <h3 class="title is-3 has-text-success">Free to use</h3>
                  <p>
                    Aproveite todas as funcionalidades sem custo adicional.
                    Nossa plataforma é gratuita, permitindo que você se
                    concentre em seu negócio sem se preocupar com despesas
                    adicionais. Para entender como ganhamos dinheiro,
                    <a href="#">clique aqui</a>.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <br /><br />
        </div>
      </div>
    </div>
  </body>
</html>
